ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212F3D;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}

li a:hover:not(.active) {
    background-color: #FF0099;
}

.active {
    background-color: black;
}

.toRight{
  float: right;
}

.toRightOut{
  float: right;
  color: #E6FB04;
}
